h1/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px 'Merriweather', serif;
  text-align: center;
  border-top: 3px solid #79589F;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-size: 100%; }

h1 { font-size: 4.188rem; }
h2 { font-size: 2.313rem; font-weight: normal; margin: 0; }
p { margin: 1em 0; }

a         { color: #000; }
a:hover   { color: #000; }
a:visited { color: #000; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts>li {
  line-height: 1.75em;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

ul.posts h2 {
  margin: 10px;
  margin: 10px;
  text-align: center;
}

ul.posts h2 a{
  text-align: center;
  text-decoration:none;
}

ul.posts h3 {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  text-align: center;
  margin: 0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 42em;
  max-width: 100%;
  margin: 3em auto 2em;
  line-height: 1.8em;
}

.header {
  width: 42em;
  max-width: 100%;
  margin: 2em auto 2em;
}
.header p.icon.title {
  text-align: center;
  color: #79589F;
  font-size: 4.188rem;
  margin-bottom: 0em;
}

.header a {
  text-decoration: none;
}

.header img.logo {
  float: left;
  height: 50px;
}

.header h1.title {
  text-align: center;
  font-size: 4.188rem;
  line-height:67px;
  margin-top: 0;
  margin-bottoom: 0;
}

.header .links {
  font-size: 80%;
  float: right;
}

.header h1.title a {
  font-weight: normal;
  color: #666;
}

.header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  text-align: center;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #79589F;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.pagination {
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.site > h2 {
  text-align: center;
}

.site > .meta {
  text-align: center;
}
/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

.head-img {
  width: 100%;
  height: 4em;
  background-position: center;
}

/*--------------------------------LARGE-------------------------*/
body.large {
  font: 16px 'Lato', serif;
  text-align: center;
}

.large h1 {
  font-family: 'Oswald', serif;
  font-size: 6em;
  line-height: 1.2em;
  border-bottom: 10px solid;
  margin-bottom: 0.5em;
}

.large h2, .large h3, .large h4 {
  font-family: 'Lato', sans-serif;
}
.large .meta {
  color: #555;
}
.large footer {
  font-style: italic;
  font-size: 120%;
}
.large #post {
  font-size: 120%;
}

.large img {
  max-width: 100%;
}

ol li {
  margin-bottom: 0.4em;
}
.snowman {
  position: absolute;
  text-decoration: none;
  top: 10px;
  left: 10px;
  font-size: 4.188rem;
}
