/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 100%; }

h1 { font-size: 1.8em; margin-top: 0em; margin-bottom: 1em; }
h2 { font-size: 1.8em; }
p { margin: 1em 0; }

a         { color: #000; }
a:hover   { color: #000; }
a:visited { color: #000; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 50%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 42em;
  max-width: 100%;
  margin: 3em auto 2em;
  line-height: 1.8em;
}

.header {
  width: 42em;
  max-width: 100%;
  font-size: 115%;
  margin: 2em auto 2em;
  text-align: left;
  height: 1em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.header img.logo {
  float: left;
  height: 50px;
}

.header h1.title {
  float: left;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 0em;
}

.header .links {
  float: right;
}

.header h1.title a {
  color: #666;
}

.header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.site > h2 {
  text-align: center;
}

.site > .meta {
  text-align: center;
}
/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

.head-img {
  width: 100%;
  height: 4em;
  background-position: center;
}

/*******ICONS**/

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Coderwall */
.fc-webicon.coderwall { background: url("/images/fc-webicon-coderwall.svg"); }

/* Github */
.fc-webicon.github { background: url("/images/fc-webicon-github.svg"); }

/* Google+ */
.fc-webicon.googleplus { background: url("/images/fc-webicon-googleplus.svg"); }

/* Instagram */
.fc-webicon.instagram { background: url("/images/fc-webicon-instagram.svg"); }

/* LinkedIn */
.fc-webicon.linkedin { background: url("/images/fc-webicon-linkedin.svg"); }

/* Mail */
.fc-webicon.mail { background: url("/images/fc-webicon-mail.svg"); }

/* Stack Overflow */
.fc-webicon.stackoverflow { background: url("/images/fc-webicon-stackoverflow.svg"); }

/* Twitter */
.fc-webicon.twitter { background: url("/images/fc-webicon-twitter.svg"); }

.twitter-follow-button {
  float: right;
  margin-top: 10px;
}


/*--------------------------------LARGE-------------------------*/

.large h1 {
  font-size: 6em;
  line-height: 1.2em;
  border-bottom: 10px solid;
  margin-bottom: 0.5em;
}
.large .meta {
  color: #555;
}
.large footer {
  font-style: italic;
  font-size: 120%;
}
.large #post {
  font-size: 120%;
}
ol li {
  margin-bottom: 0.4em;
}
.snowman {
  position: absolute;
  text-decoration: none;
  top: 10px;
  left: 10px;
  font-size: 140%;
}
