body > header {
  //border-bottom: 1px solid lighten($text-color-light, 38);
  border-right: 4px solid $subtitle-color;
  text-align: center;

  height: 45px;
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 20;
  left: 0;

  h1 {
    position: absolute;
    display: inline-block;
    font-weight: normal;
    top: 7.5em;
  }
  hgroup {
    float: left;
    margin-left: 10px;
  }
  nav {
    float: right;
    margin: 7px;
  }
  ul {
    list-style-type: none;
    li {
      float: left;
      margin-right: 15px;
      a , a:visited {
        color: white;
        text-decoration: none;
        @include transition(0.3s);
        &:hover{
          color: $header-link-color;
        }


      }

    }
  }
  h2 {
    color: $title-color;
    font-weight: bold;
    margin-top: .3em;
    margin-bottom: .5em;
    a, a:visited {
      color: $title-color;
      text-decoration: none;
    }
  }
}

#picture-holder {
  width: 100%;
  height: 300px;
  background: $bg-image;
  background-position: center center;
}
