<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="icon" type="image/png" href="/images/logo.png" />
        <meta property="description" content="{% if page.description }{{page.description}}{% else %}thoughts, code and some coffee{% endif %}" />
        <meta property="og:title" content="{% if page.title }{{page.title}}{% else %}Yannick Blog{% endif %}" />
        <meta property="og:image" content="http://blog.yannick.io/images/logo.png" />

    </head>
    <body>

        <div class="container">
          <div class="header">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <div class=links>
              <a class="fc-webicon small github" href="http://github.com/ys">github</a>
              <a class="fc-webicon small twitter" href="http://twitter.com/yann_ck">twitter</a>
              <a class="fc-webicon small mail" href="mailto:yannick.schutz@gmail.com">mail</a>
            </div>
          </div>
          <div class="site">

                {{ content }}

            <div class="footer">
              <a href="https://twitter.com/yann_ck" class="twitter-follow-button" data-show-count="false">Follow @yann_ck</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <div class="contact">
                <p>
                  Yannick Schutz<br />
                  Web developer
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/ys/">github.com/ys</a><br />
                  <a href="http://twitter.com/yann_ck/">twitter.com/yann_ck</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33356575-2']);
          _gaq.push(['_trackPageview']);

          (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();

      </script>
    </body>
</html>
